<div class="layout-container">
  <div>
    <div class="home-header">
      <h3 style="margin: 0">NL HR Management</h3>
      <span class="subtitle">Quản lý nhân sự hiệu quả</span>
    </div>
    <nav>
      <mat-list>
        <mat-list-item class="sidebar-cursor">
          <span routerLink="/"><mat-icon>home</mat-icon>Home</span>
        </mat-list-item>
        <mat-list-item class="sidebar-cursor">
          <span routerLink="/dashboard"
            ><mat-icon>dataset</mat-icon>Dashboard</span
          >
        </mat-list-item>
        <mat-list-item class="sidebar-cursor">
          <span routerLink="/manager"><mat-icon>person</mat-icon>Quản lý</span>
        </mat-list-item>
        <mat-list-item class="sidebar-cursor">
          <span routerLink="/employee-attendance"
            ><mat-icon>event</mat-icon>Chấm công</span
          >
        </mat-list-item>
        <mat-list-item class="sidebar-cursor">
          <span routerLink="/nofifications"
            ><mat-icon>notifications</mat-icon>Thông báo</span
          >
        </mat-list-item>
        <mat-list-item class="sidebar-cursor">
          <span routerLink="/survey"
            ><mat-icon>checklist</mat-icon>Khảo sát</span
          >
        </mat-list-item>
      </mat-list>
    </nav>
  </div>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
