Copier
/* styles.css */

/* Định dạng cho toàn bộ mat-table */
.mat-mdc-table {
  background-color: #f5f5f5; /* Màu nền cho bảng */
}

.mat-mdc-header-cell {
  background-color: #f0f0f0 !important; /* Màu nền cho tiêu đề cột */
}

/* Định dạng hàng chẵn */
.mat-mdc-table tr:nth-child(even) {
  background-color: #f0f0f0; /* Màu nền cho hàng chẵn */
}
